{% block content %}
{% if session['logged_in'] %}
   
	
	<form action="/board_write" method="POST">
	  <input type="text" name="writer" placeholder="writer">
      <br><br>
      <input type="text" name="title" placeholder="title">
      <br><br>
      <textarea name="context" cols="30" rows="20" onclick="this.select()" onfocus="this.select()"></textarea>
        
      <br><br>
	  <input type="submit" value="save">
	</form> <br>
    <a href="/board">board</a> <br> <br>

{% else %}
    <p>You are not loggined!</p>
    
    <a href="/login">Login</a> 
    <a href="/register">Register</a>
    
{% endif %}
{% endblock %}